.navbar-container{
    display: flex;
    flex-direction: row;
    background-color:rgb(74, 74, 218);
    color:whitesmoke;
}

.navbar-container-1{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 15px;
    font-weight: bolder;
}

.navbar-container-2{
    width: 40%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 15px;
    font-size: 20px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-container-3{
    width: 40%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}

@media screen and (max-width:800px){
    .navbar-container{
        display: flex;
        flex-direction: column;
        background-color:rgb(74, 74, 218);
        color:whitesmoke;
        width: 100%;
    }    
    .navbar-container-1{
        width: 100%;
    }
    .navbar-container-3{
        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
        padding: 15px;
        font-size: 20px;
    }
    .navbar-container-2{
        width: 100%;
        display: grid;
        /* background-color: bisque; */
        grid-template-columns: auto;
        padding: 15px;
        font-size: 20px;
    }
    .grid-item{
        padding: 10px;
    }
}